@model List<TbCategories>
@{
    ViewData["Title"] = "ListCat";
}

<div class="page-body">
    <div class="app-content content">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <div class="page-header-left">
                        <h3>
                            List Categories
                            <small>Multikart Admin panel</small>
                        </h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item"><a href="index.html"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item">Physical</li>
                        <li class="breadcrumb-item active">Category</li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="content-wrapper">

            <div class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none">
                <div class="form-group breadcrum-right">


                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- Basic Tables start -->
            <div class="row" id="basic-table">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Basic Tables</h4>
                            <a asp-controller="Categories" asp-action="EditCat" class="btn btn-success">New</a>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                
                                <div class="table-responsive">
                                    <table class="table table-hover dataTable">
                                        <thead>
                                            <tr>
                                                <th>Category Name</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var category in Model)
                                            {
                                                <tr>
                                                    <th scope="row">@category.CategoryName</th>
                                                    
                                                    <td>
                                                        <a asp-action="EditCat" asp-route-categoryId="@category.CategoryId" class="btn btn-info">Edit</a>
                                                        <a onclick="return confirm(" Are you sure");" asp-controller="Categories" asp-action="Delete" asp-route-categoryId="@category.CategoryId" class="btn btn-danger">Delete</a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <p class="px-2"><span class="text-bold-600">Example 2:</span> Minimal Table with no outer spacing.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Basic Tables end -->

        </div>
    </div>
</div>

